* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: white;
}
.navbar {
    background-color: black;
    padding: 15px 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.a a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.welcome {
    background-color:#f4f4f4; ;
    color: black;
    padding-top: 60px;
    text-align: center;
    height: 150px;
}
.cards {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.box {
    background-color: rgba(226, 229, 239, 0.903);
    padding: 40px 20px;

    
}
footer {
    background-color: black;
    color: white;

    text-align: center;
}
footer p {
    padding: 10px ;
}