* {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
body {
    background: rgb(244, 244, 244);

}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;

}
.navbar a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.content {
    height: 250px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding-top: 70px;
}
.content button {
    padding-top:10px;
    padding: 5px 5px;
    background-color: white;
    color: black;
}
.About_me {
    text-align: center;
    padding-top:40px;
}
.My_skills {
    text-align: center;
    padding-top: 80px; 
 
} 
.a {
    display: flex;
    justify-content: center;
    
}
.a p{
    padding: 20px 60px;
    margin: 10px;   
    background-color: white;
    border-radius: 5px;
}
.Projects {
    text-align: center;
    padding-top:80px;
}
.A1 {
    display: flex;
    justify-content: center;
} 
.A1 div {
    padding:20px 60px;
    margin:10px;
    background-color: white;
    border-radius: 7px;
}
.Contact_me {
    padding-top:100px;
    text-align: center;

}
.Contact_me input {
    padding: 10px 100px;
}

.Contact_me button {
    padding: 10px 165px;
}
footer  {
    text-align: center;
    background: black;
    color: white;
    padding-top: 40px;
    
}