* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background: #f5f5f5;
}
.navbar {
    background-color: black;
    color: white;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;

}
.nav a {
    color: white;
    text-decoration: none;
    padding: 40px 40px;
}
.hero {
    
    color: white;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    align-items: center;
    padding: 150px 800px;
    text-align: center;
}
.hero button {
    background-color: white;
    color: black;
}
.menu_content {
    padding-top: 40px;
    text-align: center;
   

}
.menu {
     display: flex;
     justify-content: space-evenly;
     padding-top: 50px;
     padding-bottom: 50px;
}
    
.menu  div {
     background-color: white;
     border-radius: 5px;
     padding: 30px 200px
}
.custommmer_content{
    background: #222;
    text-align: center;
    padding: 50px;
    color: white;
    padding-bottom: 50px;

}
.c7ustomer_content_say {
    display: flex;
     justify-content: space-evenly;
     padding-top: 50px;
     color: white;
     
}
.c7ustomer_content_say div {
     background: #333;
     color: white;
     border-radius: 5px;
     padding: 10px 30px;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px ;
}